extends layout

block content
  .panel.panel-default
    .panel-heading
      h3.panel-title 课程列表
    table.table.table-bordered.table-hover
      thead
        tr
          th 课程名字
          th 编辑
          th 删除
      tbody
        if courses
          each course in courses
            tr(class="item-id-#{course._id}")
              th #{course.name}
              th
                a.btn.btn-primary.btn-sm(href="/admin/courses/#{course._id}/edit") 编辑
              th
                a.btn.btn-danger.btn-sm.del(data-id="#{course._id}",href="javascript:;") 删除
  script(src="/js/delcourse.js")
  

